:root {
  --text:#111;
  --brand:#0057B8; /* azul MANADA */
}

html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  color: var(--text);
}

a {
  color: var(--brand);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 32px;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2.2rem;
  margin: 0 0 12px;
}

h2 {
  margin-top: 24px;
}

footer {
  margin-top: 48px;
  color: #666;
  font-size: .9rem;
}
